<link href="css/bootstrap-combined.min.css" rel="stylesheet" />
<link rel="stylesheet" href="css/signup.css" />
<div class="main-wrapper">
	<section class="wrapper">
		<div class="vertical-align-center">
			<header class="logo">
				<a href="#">
					<img id="mavy-logo" src="images/mavylogo.svg" alt="mavy logo">
				</a>
				<h1 class="hide">Mavy</h1>
				<a href="#">
					<img id="mavy-text" src="images/mavytext.svg" alt="Mavy">
				</a>
			</header>

			<form ng-submit="signUp()" method="post" id="signInForm" class="form-container">
				<div class="signUpForm-container">					
					<div class="form-group">
						<input class="inputBox" type="text" id="" name="" ng-model="uname" placeholder="User Name"  />
					</div>
					<div class="form-group">
						<input class="inputBox" type="email" id="" name="" ng-model="uemail" placeholder="Email Address" />
					</div>
					<div class="form-group">
						<select required="" ng-model="month" class="" name="months">
							<option value="">Month</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
						</select>
						<select required="" ng-model="day" name="" class="" id="">
							<option value="">Day</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
						</select>
						<select  ng-model="year" class="" name="" id="">
							<option value="? string:1950 ?"></option>
							<option value="">Year</option>
							<option value="2006">2006</option>
							<option value="2005">2005</option>
							<option value="2004">2004</option>
							<option value="2003">2003</option>
							<option value="2002">2002</option>
							<option value="2001">2001</option>
							<option value="2000">2000</option>
							<option value="1999">1999</option>
							<option value="1998">1998</option>
							<option value="1997">1997</option>
							<option value="1996">1996</option>
							<option value="1995">1995</option>
							<option value="1994">1994</option>
							<option value="1993">1993</option>
							<option value="1992">1992</option>
							<option value="1991">1991</option>
							<option value="1990">1990</option>
							<option value="1989">1989</option>
							<option value="1988">1988</option>
							<option value="1987">1987</option>
							<option value="1986">1986</option>
							<option value="1985">1985</option>
							<option value="1984">1984</option>
							<option value="1983">1983</option>
							<option value="1982">1982</option>
							<option value="1981">1981</option>
							<option value="1980">1980</option>
							<option value="1979">1979</option>
							<option value="1978">1978</option>
							<option value="1977">1977</option>
							<option value="1976">1976</option>
							<option value="1975">1975</option>
							<option value="1974">1974</option>
							<option value="1973">1973</option>
							<option value="1972">1972</option>
							<option value="1971">1971</option>
							<option value="1970">1970</option>
						</select>
					</div>
					<div class="form-group">
						<select ng-model="gender" id="" name="" class="">
							<option value="">Gender</option>
							<option value="F">Female</option>
							<option value="M">Male</option>
						</select>
					</div>
					<div class="form-group">
						<input class="inputBox" type="text" id="" name="" ng-model="education" placeholder="Education"  />
					</div>
					<div class="form-group">
						<input class="inputBox" type="text" id="" name="" ng-model="panic" placeholder="His Panic"  />
					</div>
					<div class="form-group">
						<input class="inputBox" type="text" id="" name="" ng-model="ethni"  placeholder="Ethni city multi choice" />
					</div>
					<div class="form-group">
						<input class="inputBox" type="text" id="" name="" ng-model="under18" placeholder="kidsunder18"  />
					</div>
					<div class="form-group">
						<input class="inputBox" type="text" id="" name="" ng-model="zipc" placeholder="Zip Code"  />
					</div>
					<div class="form-group">
						<input class="inputBox" type="text" id="" name="" ng-model="state" placeholder="State"  />
					</div>
					<div class="form-group">
						<input class="inputBox" type="text" id="" name="" ng-model="region" placeholder="Region"  />
					</div>
					<div class="form-group">
						<input class="inputBox" type="text" id="" name="" ng-model="income" placeholder="Income"  />
					</div>
					<div class="form-group">
						<input class="inputBox" type="text" id="" name="" ng-model="employment" placeholder="Employment"  />

					</div>
					<div class="form-group">
						<input class="inputBox" type="text" id="" name="" ng-model="census" placeholder="Employment Census"  />
					</div>
					<div class="form-group">
						<input class="inputBox" type="text" id="" name="" ng-model="signupmethod" placeholder="Sign Up Method"   />
					</div>
					<div class="form-group">
						<input class="inputBox" type="text" id="" name="" ng-model="src" placeholder="Src"   />
					</div>
					<div class="form-group">
						<input class="inputBox" type="text" id="" name="" ng-model="fname"  placeholder="First Name" />
					</div>
					<div class="form-group">
						<input class="inputBox" type="text" id="" name="" ng-model="lname" placeholder="Last Name"  />
					</div>
					<div class="form-group">
						<input class="inputBox" type="text" id="" name="" ng-model="cphone" placeholder="Cell Phone"  />
					</div>
					<div class="form-group">
						<input class="inputBox" type="text" id="" name="" ng-model="otp" placeholder="Otp Delivery"  />
					</div>
					<div class="form-group">
						<input class="inputBox" type="password" id="" name="" ng-model="pass" placeholder="Password"  />
					</div>
					<div class="form-group">
						<input type="submit" id="submit" value="Submit" class="button submit-changes">
					</div>
					
					
					<!-- <p>
						<label for="name" class="hide"></label>
						<input class="inputBox" type="email" id="email" name="email" ng-model="uemail" placeholder="Email" required />
					</p>
					<p>
						<label for="name" class="hide"></label>
						<input class="inputBox" type="text" id="name" name="name" ng-model="uname" placeholder="Username" required />
					</p>
					<p>
						<label for="password" class="hide"></label>
						<input class="inputBox" type="password" id="password" name="password" ng-model="password" placeholder="Password" required />
					</p>
					<p>
						<label for="password" class="hide"></label>
						<input class="inputBox" type="password" id="cpassword" name="cpassword" ng-model="cpassword" placeholder="Confirm Password" required />
					</p>
					<button class="inputButton" type="submit" name="signin" id="signIn">Sign Up</button> -->
					<!--<p class="white">
						You don't have an account?
						<a type="submit" class="white" id="signUp" href="#/signup">
							<strong>SIGN UP</strong>
						</a>
					</p>
					<span class="badge" id="apple">
						<a href="https://play.google.com/store/apps/details?id=mavy">
						 <img alt="Download on the App Store" src="images/apple-app-badge.svg"/>
						</a>
					</span>

					<span class="badge" id="google">
						<a href="https://play.google.com/store/apps/details?id=mavy">
						 <img alt="Get it on Google Play" src="images/google-app-badge.svg" />
						</a>
					</span>-->
				</div>
				<!--center-->
			</form>
		</div>
	</section>
</div>
<style>
	.signUpForm-container {
		float: none;
		margin: 0 auto;
		max-width: 800px;
		text-align: left;
		padding: 0 15px;
	}
	.signUpForm-container .form-group {
		display: inline-block;
		vertical-align: top;
		width: 49%;
		margin-bottom: 15px;
	}
	.signUpForm-container .form-group input {
		height: 2rem;
		margin-left: 0;
		padding: 5px;
		width: 350px;
		max-width: 100%;
	}
	.bdate {
		color: #fff;
		font-size: 14px;
	}
	.signUpForm-container select {
		border-radius: 4px;
		display: inline-block;
		height: 33px !important;
		line-height: 34px !important;
		padding: 5px !important;
		width: 113px;
	}
	.signUpForm-container .form-group .button.submit-changes {
		float: left;
		margin: 0;
		width: auto;
		padding: 0 10px;
	}
	@media (max-width:768px){
		.signUpForm-container .form-group {
			width: 100%;
		}
	}
	@media (max-width:405px){
		.signUpForm-container .form-group input {
			width: 100%;
		}
		.signUpForm-container select {
			margin-bottom: 15px;
			width: 100%;
		}
		.signUpForm-container select:last-child {
			margin-bottom: 0;
		}
	}
</style>