    <style type="text/css">
        .margin-bot-0{margin-bottom: 0 !important;}
        p.name {
            font-size: 1.3rem;
            font-weight: 400;
            text-transform: capitalize;
            text-align: center;
        }
        .posterAvatar {
            width: 5.125em;
        }
        .postMeta, .forumMeta, .authorMeta, .replyMeta {
            margin-left: 7.938em;
        }
        .date {
            font-weight: 400;
            font-size: 0.9rem;
        }
        p.post-data{font-size: 1.2rem;}
    </style>
    <h1 class="hidden">Forum Page</h1>
    <!--slideout sidebar left-->
	<div ng-include="'navigation.html'"></div>
    <!--end header logo & menu-->
    <!--main content-->
    <div id="sb-site"><!--wrapper so content moves when slide out menus are clicked-->
        <div class="grid-block wrap">
            <section class="grid-block small-12 medium-8 vertical">
                <h1 class="hidden">Forum</h1>

                <!--forum topic collapsed-->
				<div class="grid-content">
					<!--container jquery expander-->
                    <article class="card replyToPost">
                        <div class="card-divider color-code-3">
                            <h6 class="boxTitle">Create New Post</h6>
                        </div>
						<form class="card-section" method="post" style="display:none;">
							<div class="grid-block">
								<div class="small-12 medium-12 grid-content">
									<label for="post-input" class="settingLabel hidden">
										Post Title
									</label>
									<input type="text" class="post-input" name="post-input" id="post-input" placeholder="Post Title" value="" ng-model="postTitle">
									
									<label class="post-label hidden">
										Create new post
									</label>
										<textarea cols="40" rows="8" name="comment" placeholder="Create new post" id="comment" ng-model="postBody"></textarea>
									
									<div id="post-content">
										<input type="submit" value="Submit Post" class="button fa float-right" id="new-post" ng-click="submitPost()">
									</div>
								</div>
							</div>
						</form><!--end form-->
                    </article><!--end expand container card-->
				</div><!--end grid content-->
			 
			   <!--forum post expanded with sample comments-->
                <div class="grid-content" ng-repeat="items in activeThreads">
                    <article class="card replyToPost">
                        <div class="card-divider reply">
                            <!--post message counter and nav-->
                            <!--<div class="message-counter">
                                <span class="fa fa-sort-asc scroll-up su6"></span>
                                <div class="reply-count">{{items.ReplyCount}}</div>
                                <span class="fa fa-sort-desc scroll-dwn sd6">
                                    </span>
                            </div>-->
                        </div>
                        <!--avatar container-->
                        <div class="postContent card-section">
                            <div class="posterAvatar">
                                <a class="avatarContainer" ng-href="#/forum-expanded/{{items.Id}}">
                                    <img alt="profile image" class="profile" src="{{items.Content.CreatedByUser.AvatarUrl}}">
                                </a>
                                <p class="name" ng-click="expandForumPage(items.Id)">{{items.Author.DisplayName}}</p>
                            </div>
                            <!--metadata for post reply-->
                            <div class="postMeta">
                                
                                <!--<p class="userName">User Name</p>-->
                                <h5 class="postTitle" ng-click="expandForumPage(items.Id)">{{items.Subject}}</h5>
                                <p class="set-width post-data" dynamic="{{items.Body}}" ng-click="expandForumPage(items.Id)"></p>
                                <p class="date" ng-click="expandForumPage(items.Id)">{{items.Date | date:"MM/dd/yyyy 'at' h:mma"}}</p>
                                <p class="reply-to-posts-count">
                                    <a href="javascript:void(0)">Replies ( <span class="replies-count">{{items.ReplyCount}}</span> )</a>
                                    <a ng-click='getChilds(items.Id)' style="float:right;margin-right:50px;">Reply</a>
                                   <!-- <a href="javascript:void(0)" class="expand-collapse-toggle" ng-if="showCommentbox(items.Id)">
                                    Replies ( <span class="replies-count">{{items.ReplyCount}}</span> ) 
                                    </a>-->
                                </p>
                            </div>
                            <!--example comments to post-->
                         
                            <div class="card" ng-repeat="reply in childThreads" ng-if="items.Id == reply.ThreadId && reply.ParentId == 0">
								<div>
									<div class="card-divider reply">
									</div>
									<!--example comment one-->
									<div class="post-comment-reply card-section">
										<div class="posterAvatar">
											<a class="avatarContainer" href="#">
												<img alt="profile image" class="profile" src="{{reply.Content.CreatedByUser.AvatarUrl}}">
											</a>
                                            <p class="name">{{reply.Author.DisplayName}}</p>
										</div>
									
										<!--metadata for example comment one-->
										<div class="postMeta">
											
										<!--	<p class="userName">{{reply.Author.Username}}</p> -->
											<p class="set-width post-data" dynamic="{{reply.FilteredBody}}"></p>
											<p class="date">{{reply.Date | date:"MM/dd/yyyy 'at' h:mma"}}</p>
                                            <p class="reply-to-post">
                                                <a href="javascript:void(0)" style="float:left;">Comments ( <span class="replies-count">{{reply.ReplyCount}}</span> )</a>
                                          
												<a ng-click="showChildCommentBox(reply.Id)">Comment</a>
											</p>
										</div>
                                        <div class="card" ng-repeat="rep in nextLevelChild" ng-if="reply.Id == rep.ParentId">

                                        <div>
                                            <div class="card-divider reply">
                                            </div>
                                            <!--example comment one-->
                                            <div class="post-comment-reply card-section">
                                                <div class="posterAvatar">
                                                    <a class="avatarContainer" href="#">
                                                        <img alt="profile image" class="profile" src="{{rep.Content.CreatedByUser.AvatarUrl}}">
                                                    </a>
                                                </div>
                                               
                                                <!--metadata for example comment one-->
                                                <div class="postMeta">
                                                    <p class="name">{{rep.Author.DisplayName}}</p>
                                                    <p class="userName">{{rep.Author.Username}}</p>
                                                    <p class="set-width" dynamic="{{rep.FilteredBody}}"></p>
                                                    <p class="date"><strong>{{rep.Date | date:"MM/dd/yyyy 'at' h:mma"}}</strong></p>
                                                   
                                                </div>
                                                </div>
                                        </div>
                                    </div>
										<div class="card comment-form childCommentBox" id="displayReplyBox{{reply.Id}}" style="display: none">
											<form class="card-section" method="post" ng-submit="savechildThreadReply(items.Id,reply.Id)">
												<div class="grid-block">
													<div class="small-12 medium-12 grid-content">
														<label class="forum-label">
															Reply to Post
                                                            
															<textarea cols="40" rows="8" name="comment"></textarea>
														</label>
													 
														<div id="comment-button">
															<input type="file" name="file_upload" style="height:42px;position:absolute;width:131px;opacity:0;">
															<a class="button" id="add-media" ng-click="mediaUpload()">
																<span class="fa fa-camera"></span>
																Upload Media
															</a>
															
															<input type="submit" value="Submit Reply" class="button fa" id="add-comment"  >
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
                            </div><!--end comment one card-->
                            
                            

                            <!--reply form-->
                            <div id="reply-box" class="card comment-form" ng-if="showCommentbox(items.Id)">
                                <form id="replyForm" class="card-section" method="post" ng-submit="saveThreadReply(replyText,items.Id)">
                                    <div class="grid-block">
                                        <div class="small-12 medium-12 grid-content">
                                            <label class="forum-label">
                                                Reply to Post
                                                <textarea cols="40" rows="8" name="comment" id="reply" ng-model="replyText"></textarea>
                                            </label>
                                            <div id="upload-content" style="display:none;">
                                                <span style="display:inline-block;background:#e6ece1;padding:8px 15px; border-radius:3px; font-size:14px;">{{fileName}}</span>
                                            </div>
                                            <div id="comment-button">
                                                <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this)" ng-click="setProjectId(items.Id)" id="photo-upload" style="height:42px;position:absolute;width:131px;opacity:0;" />
                                                <a class="button" id="add-media" ng-click="mediaUpload()">
                                                    <span class="fa fa-camera"></span>
                                                    Upload Media
                                                </a>
                                                <input type="submit" value="Submit Reply" class="button fa" id="add-comment"  >
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div><!--end reply form container-->
                        </div>
                    </article>
                </div>              
            </section>
            
            <!--start right sidebar content-->
            <div class="grid-content small-12 medium-4 message-side-bar">
				<div ng-include="'polls.html'" ng-controller="pollsCtrl"></div>
            </div>
        </div>
    </div><!--end sb-site container-->
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')
    </script>
    <script src="js/jquery.tooltipster.min.js"></script>
    <script src="js/jquery.simple-expand.min.js"></script>
    <script src="js/slidebars.js"></script>
    <script src="js/main.js"></script>
	<script type="text/javascript">
        $(function(){
            $('h6.boxTitle').parent('div').addClass('margin-bot-0');
            $('h6.boxTitle').on('click',function(){
                 $(this).parent('div').toggleClass('margin-bot-0');
                $(this).parent('div').siblings('form').slideToggle();
               
            })
        })
    </script>