    <style type="text/css">
        .margin-bot-0{margin-bottom: 0 !important;}
        p.name {
            font-size: 1.3rem;
            font-weight: 400;
            text-transform: capitalize;
            text-align: center;
        }
        .posterAvatar {
            width: 5.125em;
        }
        .postMeta, .forumMeta, .authorMeta, .replyMeta {
            margin-left: 7.938em;
        }
        .date {
            font-weight: 400;
            font-size: 0.9rem;
        }
        p.post-data{font-size: 1.2rem;}
        .post-box{
             border: 1px solid #ededed;
             border-radius: 4px;
             margin-top: 10px;
             background: #fff;
        }
        .post-article{
            background: none;
          
        }
    </style>
<div ng-include="'navigation.html'"></div>
<div id="sb-site"><!--wrapper so content moves when slide out menus are clicked-->
        <div class="grid-block wrap">
            <section class="grid-block small-12 medium-8 vertical">
                <h1 class="hidden">Feed Content</h1>
                <!--main content begins-->
                <div class="grid-content">
                    <article class="card replyToPost post-article">
                        <div class="card-divider color-code-1">
                            <h6 class="boxTitle">Reply to your post</h6>
                        </div>
                        <!--avatar container-->
                        <div class="postContent card-section post-box" ng-repeat="post in tempArray | limitTo: 3">
							<div ng-click="showThread(post.ThreadId)">
								<div class="posterAvatar">
									<a class="avatarContainer">
										<img alt="profile image" class="profile" src="{{post.AvatarUrl}}" />
									</a>
                                    <p class="name">{{post.UserName}}</p>
								</div>
								<!--metadata for post reply-->
								<div class="postMeta">
									<!--post message counter and nav-->
									<div class="message-counter">
										<span class="fa fa-sort-asc scroll-up su1"></span>
									<div class="reply-count">{{post.NumberOfPosts}}</div>
										<span class="fa fa-sort-desc scroll-dwn sd1"></span>
									</div>
									
									<!--<p class="userName">User Name</p>-->
									<h5 class="postTitle">{{post.Subject}}</h5>
									<p class="set-width post-data">{{post.MostRecentMessage}}</p>
									<p class="date">{{post.ThreadReplyDate | date:"MM/dd/yyyy 'at' h:mma"}}</p>
								</div>
							</div>
						</div>
                    </article>
                    <!--end of post box-->

                    <!--start nested assignment boxes-->
					<div class="grid-block small-up-1 medium-up-2 large-up-2">                    
						<div class="grid-content" ng-repeat="assignment in allAssignments">
							<article class="card card-margin" ng-click="showAssignmentTasks(assignment)">
								<div class="card-divider color-code-2">
                                    <h6 class="boxTitle">New Assignment |<span style="text-transform: none;" ng-if="assignment.modules[0].moduleType == 1"> Discussion(s)</span><span style="text-transform: none;" ng-if="assignment.modules[0].moduleType == 2"> Quiz</span><span style="text-transform: none;" ng-if="assignment.modules[0].moduleType == 3"> Diary</span><span style="text-transform: none;" ng-if="assignment.modules[0].moduleType == 4"> Sponsored Quiz</span></h6>
                                </div>
								<div class="card-section" style="cursor: pointer">
									<!--<h6 class="boxTitle">New Assignment |<span class="assignment-type"> Quiz</span></h6>-->
									<h3 class="quizTitle">{{assignment.modules[0].moduleTitle}}</h3>
									<p dynamic="{{assignment.modules[0].options.instructions}}"></p>
								</div>
							</article>
						</div>
					</div>
                </div>
            </section>

            <!--right sidebar content-->
            <div class="grid-content small-12 medium-4 message-side-bar">
                <!--<aside class="card">
                    <h2 class="hidden">Sidebar</h2>
                    <div class="card-section updateWidget">
                        <h6 class="boxTitle">Updates</h6>
                        <div id="updateContent">
                            <span class="messageWaiting"></span>
                            <p class="updates">You have<span id="messageCount"> two </span>messages waiting</p>
                            <span class="forumReply"></span>
                            <p class="updates">Somebody replied to your forum post</p>
                        </div>
                    </div>
                </aside>-->
                <!--start daily poll radio form-->
                <div ng-include="'polls.html'" ng-controller="pollsCtrl"></div>
                <!--start poll result box-->
                <!--end poll result box-->
            </div>
        </div>
    </div>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')
    </script>
    <script src="js/jquery.tooltipster.min.js"></script>
    <script src="js/slidebars.js"></script>
    <script src="js/main.js"></script>