<div ng-controller="navCtrl">
	<nav class="sb-slidebar sb-style-overlay sb-left sb-width-custom gradient-left" data-sb-width="35%">
		<div class="sb-close fa fa-times fa-2x left-close"></div>

			<ul class="sb-mobile-menu">
				<li class="active">
					<a id="feedLink" ng-href="#/" class="tooltip glow" title="Home" ng-click="showHideimages('Home')">
						<img class="link-icon" src="images/feedactive.svg" alt="feed page link" ng-show="feedActive">
						<img class="link-icon" src="images/feed.svg" alt="feed page link" ng-hide="feedActive">
					</a>
				</li>
				<li>
					<a id="assignmentsLink" ng-href="/assignment" class="tooltip glow" title="Assignments" ng-click="showHideimages('Assignment')">
						<img class="link-icon" src="images/assignmentactive.svg" alt="assignment page link" ng-show="assignmentActive">
						<img class="link-icon" src="images/assignment.svg" alt="assignment page link" ng-hide="assignmentActive">
					</a>
				</li>
				<li id="forum-mobile">
					<a id="forumLink" href="forum.html" class="tooltip glow" title="Forum" ng-click="showHideimages('Forum')">
						<img class="link-icon" src="images/forumactive.svg" alt="forum page link" ng-show="forumActive" />
						<img class="link-icon" src="images/forum.svg" alt="forum page link" ng-hide="forumActive" />
					</a>

					<span id="forum-count" class="secondary badge forum-count slide-notification-forum" ng-bind="forumsCount"></span>
				</li>
				<li>
					<a id="messagesLink" href="messages.html" class="tooltip glow" title="Messages" ng-click="showHideimages('Messages')">
						<img class="link-icon" src="images/messagesactive.svg" alt="message page link" ng-show="messagesactive" />
						<img class="link-icon" src="images/messages.svg" alt="message page link" ng-hide="messagesactive" />
					</a>
					
					<span id="message-count" class="secondary badge message-count slide-notification-messages" ng-bind="msgCount"></span>
				</li>
			</ul>
	</nav>
		<!--slideout sidebar right-->
	<div class="sb-slidebar sb-right">
		<div class="grid-content small-12 gradient-right">
			<!--heading for sidebar-->
			<nav class="block-list profile-links">
				<div class="fa fa-times fa-2x sb-close right-close"></div>
				<header id="slide-right">
					<div class="posterAvatar" id="slide-menu-profile">
						<a class="avatarContainer" href="#">
							<img alt="profile image" class="profile" src="{{avatarUrl}}">
						</a>
					</div>
					
					<div class="user-wrapper">
						<p id="profile-name" class="name user">
							<a class="profile-link" href="profile.html">
							{{fname}} {{lname}}
							</a>
						</p>
						<p class="user rewards">
							<a class="profile-link" href="rewards.html">
								<strong>
									Rewards Balance: 
								</strong>
								<span id="reward-amount">${{redeemable}}</span>
							</a>
						</p>
					</div>
				
				</header>
				<!--links for settings slideout menu right-->
				<header class="profile-header">Settings</header>
				
				<ul class="slide-right-links">
					<li class="with-chevron block-list-label">
						<a ng-href="#/profile">
							Profile Information
						</a>
					</li>
					<li class="with-chevron block-list-label">
						<a ng-href="#/notification">
							Notification Settings
						</a>
					</li>
					<li class="with-chevron block-list-label">
						<a ng-href="#/resetpassword">
							Change Password
						</a>
					</li>
					<li class="with-chevron block-list-label">
						<a class="log-out" ng-click="logout()">
							Log Out
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>

		<!--logo and main menu in header-->
	<header id="main-header" class="navbar sb-slide">
		
		<div class="logo">
			<a class="glow" href="#/">
				<img src="images/mavylogo.svg" class="mavy-logo" alt="Mavy logo">
				<img src="images/mavytext.svg" class="mavy-name" alt="Mavy name">
			</a>
		</div>
		
		<nav id="desktop-menu">
			<ul class="desktop-menu">
				<span id="hide" ng-init="initializeTooltip()"><!--hides just text links & notifications on mobile-->
					<li id="feed">
						<a ng-href="#/" class="tooltip glow active" title="Home">
							<img class="link-icon" src="images/feedactive.svg" alt="feed page link" ng-show="feedActive" ng-click="showHideimages(this)">
							<img class="link-icon" src="images/feed.svg" alt="feed page link" ng-hide="feedActive" ng-click="showHideimages(this)">
						</a>
					</li>
					<li id="assignment" class="tooltip" title="Assignments">
						<a ng-href="#/assignment" class="glow" ng-click="showHideimages(this)">
							<img class="link-icon" src="images/assignmentactive.svg" alt="assignment page link" ng-show="assignmentActive">
							<img class="link-icon" src="images/assignment.svg" alt="assignment page link" ng-hide="assignmentActive">
						</a>
					</li>
					<li>
						<span class="secondary badge forum-count nav-notification-forum" ng-bind="forumsCount"></span>
						<a ng-href="#/forum" class="tooltip glow" title="Forum" ng-click="showHideimages('Forum')">
							<img class="link-icon" src="images/forumactive.svg" alt="forum page link" ng-show="forumActive" />
							<img class="link-icon" src="images/forum.svg" alt="forum page link" ng-hide="forumActive" />
						</a>
					</li>
					<li>
						<span class="secondary badge message-count nav-notification-messages" ng-bind="msgCount"></span>
						<a ng-href="#/messages" class="tooltip glow" title="Messages" ng-click="showHideimages('Messages')">
							<img class="link-icon" src="images/messagesactive.svg" alt="message page link" ng-show="messagesactive" />
							<img class="link-icon" src="images/messages.svg" alt="message page link" ng-hide="messagesactive" />
						</a>
					</li>
				</span>
				<!--end hide class-->
				<li class="sb-toggle-right">
					<img src="images/profile.svg" class="link-icon tooltip" title="Settings" alt="profile icon" />
				</li>
			</ul>
		</nav>
		<div class="fa fa-bars fa-2x sb-toggle-left"></div>
	</header>
</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')
    </script>
    <script src="js/jquery.tooltipster.min.js"></script>
    <script src="js/slidebars.js"></script>
    <script src="js/main.js"></script>