<form class="dailyPoll" name="pollForm" ng-submit="submitPoll(item, option)"> 
	<div class="card card-section" ng-repeat="item in allPolls | limitTo: 1">
		<h6 class="boxTitle">Daily Poll</h6>
		<div id="pollContent">
			<h5 class="pollQuestion" id="currentUpdaQuestion" bind-html-compile="item.pollTitle"></h5>
			<p ng-repeat="option in item.options.categories" ng-if="item.type == 'SingleChoice'">
				<input type="radio" name="poll" id="poll-radio-{{$index}}" value="{{option.values}}" ng-model="option.pollvote" />
				<label for="poll-radio-{{$index}}" id="label-{{$index}}" class="inline-label">
					{{option.description}}
				</label>
			</p>
			<p ng-repeat="option in item.options.categories" ng-if="item.type != 'SingleChoice'">
				<input type="checkBox" name="poll" id="poll-radio-{{$index}}" value="{{option.values}}" ng-model="option.pollvote" />
				<label for="poll-radio-{{$index}}" id="label-{{$index}}" class="inline-label">
					{{option.description}}
				</label>
			</p>
			<button type="submit" class="button" id="pollSubmit">Submit Vote</button>
		</div>
	</div>
</form>
<!--<div ng-if="allPolls.length <= 0" class="votingDone card dailyPoll" style="">Thanks For your voting. Polls have been finished.</div>-->

<aside class="card pollResults">
	<div class="card-section">
		<h6 class="boxTitle">Results For Previous Polls</h6>
		<div id="pollResults" ng-repeat="item in displayPollresults | limitTo: 1">
			<h5 class="pollQuestion" id="pastQuestion" bind-html-compile="item.pollTitle">{{item.pollTitle}}</h5>
			<div class="results">
				<p class="percents" ng-repeat="option in item.options.categories">
					<span class="result-text" id="result-poll-{{$index}}" ng-class="{'bgColor': applyBackground(item.itemId, $index)}">
						{{option.values}}%
					</span>
					{{option.description}}
				</p>
			</div>
			<a class="button" id="more-polls-link" href="#/pollresults">See More Poll Results</a>
		</div>
	</div>
</aside>