    <link href="css/bootstrap-combined.min.css" rel="stylesheet" />
	<h1 class="hidden">Reward Page</h1>
    <!--slideout sidebar left-->
    <!--slideout sidebar right-->
    <div ng-include="'navigation.html'"></div>
    <!--logo and main menu in header-->
    <!--end header logo & menu-->
    <div id="sb-site"><!--wrapper so content moves when slide out menus are clicked-->
        
        <div class="grid-block wrap">
            <section class="grid-block small-12 medium-8 vertical">
                <h2 class="hidden">Reward Page</h2>
                <div class="grid-content">
                    <!--start available rewards-->
                    <article class="card rewards">
                        <div class="postContent card-section" id="available-rewards" style="cursor: default">
                            <h6 class="boxTitle">Available Rewards</h6>
							<div style="display: inline-block;">
								<a class="gift-card-img" href="javascript:void(0)">
									<img class="gift-card-img" src="images/amazon-giftcard.png" alt="amazon gift card">
								</a>
							</div>
							<div style="display: inline-block; vertical-align:top; width:80%; padding: 0 10px;">
								<p>
									Amazon.com Gift Cards* never expire and can be redeemed	towards millions of items at <a href="http://www.amazon.com" target="_blank">www.amazon.com</a>.
								</p>
								<p>
									Your Current Credit needs to be at least $10.
								</p>
							</div>
                        </div>
                        <div class="reward-buttons">
                            <a class="button cashout" ng-click="openModal()">Cash Out Now</a>
                            <!--<a class="button detail" ng-click="openDetails()">Details</a>-->
                        </div>
                    </article><!--end available reward content-->
                </div>
                <!--start cashout history content-->
                <div class="grid-content">
                    <article class="card rewards">
                        <div class="postContent card-divider" id="coh-one">
                            <h6 class="boxTitle">Cashout History</h6>
                            <div class="grid-block small-up-2 medium-up-2 large-up-2">
                                <div class="card-section card-wrapper voucher-wrapper" ng-repeat="items in incentivesDataArray">
                                    <a href="#" class="gift-card-img">
                                        <img class="gift-card-img" src="images/amazon-giftcard.png" alt="amazon gift card">
                                    </a>
									<p class="voucher-container">
										<span>{{items.code}} ( ${{items.amount/100}} )</span>
										<a class="button voucher" ng-click="openDetailsModal(items.code, items.amount)">Redemption Instructions</a>
									</p>
                                </div>
                            </div>
                            <!--<div class="grid-block small-up-2 medium-up-2 large-up-2">
                                <div class="card-section card-wrapper">
                                    <a href="#" class="gift-card-img">
                                        <img class="gift-card-img" src="images/amazon-giftcard.png" alt="amazon gift card">
                                    </a>
                                    <a class="button voucher" ng-click="openDetailsModal()">Resend Code</a>
                                </div>
                                <div class="card-section card-wrapper">
                                    <a href="#" class="gift-card-img">
                                        <img class="gift-card-img" src="images/amazon-giftcard.png" alt="amazon gift card">
                                    </a>
                                    <a class="button voucher" href="#">Resend Code</a>
                                </div>
                            </div>
                            <div class="grid-block small-up-2 medium-up-2 large-up-2">
                                <div class="card-section card-wrapper">
                                    <a href="#" class="gift-card-img">
                                        <img class="gift-card-img" src="images/amazon-giftcard.png" alt="amazon gift card">
                                    </a>
                                    <a class="button voucher" href="#">Resend Code</a>
                                </div>
                                <div class="card-section card-wrapper">
                                    <a href="#" class="gift-card-img">
                                        <img class="gift-card-img" src="images/amazon-giftcard.png" alt="amazon gift card">
                                    </a>
                                    <a class="button voucher" href="#">Resend Code</a>
                                </div>
                            </div>
                            <div class="grid-block small-up-2 medium-up-2 large-up-2">
                                <div class="card-section card-wrapper">
                                    <a href="#" class="gift-card-img">
                                        <img class="gift-card-img" src="images/amazon-giftcard.png" alt="amazon gift card">
                                    </a>
                                    <a class="button voucher" href="#">Resend Code</a>
                                </div>
                                <div class="card-section card-wrapper">
                                    <a href="#" class="gift-card-img">
                                        <img class="gift-card-img" src="images/amazon-giftcard.png" alt="amazon gift card">
                                    </a>
                                    <a class="button voucher" href="#">Resend Code</a>
                                </div>
                            </div>-->
                        </div>
                    </article>
                </div><!--end cashout content-->
				<div>
					<p style="font-size:8px; padding: 40px;" >
						*Amazon.com is not a sponsor of this promotion. Except as required by law, Amazon.com Gift Cards ("GCs") cannot be transferred for value or redeemed for cash. GCs may be used only for purchases of eligible goods on Amazon.com or certain of its affiliated websites. GCs cannot be redeemed for purchases of gift cards. Purchases are deducted from the GC balance. To redeem or view a GC balance, visit "Your Account" on Amazon.com. Amazon is not responsible if a GC is lost, stolen, destroyed or used without permission. For complete terms and conditions, see <a href="http://www.amazon.com/gc-legal">www.amazon.com/gc-legal</a>. GCs are issued by ACI Gift Cards, Inc., a Washington corporation. All Amazon<sup>&reg;</sup>, <sup>&trade;</sup> & <sup>&copy;</sup> are IP of Amazon.com, Inc. or its affiliates. No expiration date or service fees. 
					</p>
				</div>
            </section><!--end main reward content-->

            <!--right sidebar content-->
            <div class="grid-content small-12 medium-4 message-side-bar">
                <!--credit container-->
                <aside class="card">
                    <div class="card-section">

                        <h6 class="boxTitle">Current Credit</h6>
                        <!--current-credit wrapper-->
                        <div class="totals">
                            <p id="current-credit">
                                $
                                <span id="current-dollars">
                                    {{redeemable}}</span>
                            </p>
                        </div>

                        <h6 class="boxTitle">Earned to Date</h6>
                        <!--earned-credit wrapper-->
                        <div class="totals">
                            <p id="earned-credit">
                                $
                                <span id="earned-dollars">
                                    {{earned}}</span>                            
							</p>
                        </div>

                    </div>
                
                </aside>
            </div><!--end right sidebar content-->
        </div><!--end content wrapper-->
        <!-- Start Footer -->
    </div><!--end sb-site container-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')
    </script>
    <script src="js/jquery.tooltipster.min.js"></script>
    <script src="js/slidebars.js"></script>
    <script src="js/main.js"></script>
</body>

</html>