    <style>
		.grid-block {
			overflow: visible;
		}
	</style>
	<h1 class="hidden">Assignment Page</h1>
    <!--slideout sidebar left-->
	<div ng-include="'navigation.html'"></div>
    <!--end header logo & menu-->

    <div id="sb-site"><!--wrapper so content moves when slide out menus are clicked-->
        <div class="grid-block wrap">
            <section class="grid-block small-12 medium-8 vertical">
                <h2 class="hidden">Assignments</h2>
                <div class="grid-content">
                    <!--featured content-->
                    <article class="card featuredAssignment">
                        <div class="card-section">
							<div class="arrow_slot" ng-if="!showIframe">
								<img class="right-arrow" src="images/arrow-right-01.svg" ng-click="getNextTask(i)" ng-hide="hideLeftArrow" />
								<img class="left-arrow" src="images/arrow-left-01.svg" ng-click="getPreviousTasks(i)" ng-show="hideRightArrow" />
							</div>
                           <!--<h3 class="boxTitle" ng-if="assignment.projectTitle">{{assignment.projectTitle}}</h3>-->
						   <h3 class="boxTitle" ng-if="assignment.modules[0].moduleTitle">{{assignment.modules[0].moduleTitle}}</h3>
                           <p class="assgnTitle" ng-if="assignment.modules" dynamic="{{assignment.modules[0].options.instructions}}"></p>
						   <p class="assgnTitle" ng-if="!assignment.modules" dynamic="{{assignment.options.instructions}}"></p>
                        </div>                     
                    </article>
                </div>
                <div class="grid-content" ng-if="!showIframe">
                    <article class="card replyToPost">                        
                        <!--avatar container-->
                        <div class="postContent card-section">
							<div>
								<div class="card-divider reply">
								</div>
								<!--example comment one-->
								<div class="post-comment-reply card-section">
									<!--metadata for example comment one-->
									<div class="posterAvatar">
										<a class="avatarContainer">
											<img alt="profile image" class="profile" src="{{userAvatarUrl}}" />
										</a>
										<p class="name" >{{displayName}}</p>
									</div>
									<div class="postMeta">
										<p class="name" bind-html-compile="displayTasks[0].Subject"></p>
										<p class="userName" bind-html-compile="displayTasks[0].Title"></p>
										<p class="set-width" bind-html-compile="displayTasks[0].QuestionText"></p>
										<p class="date"><strong>{{displayTasks[0].ActivationDate | date:"MM/dd/yyyy 'at' h:mma"}}</strong></p>
										<p class="reply-to-post">
											<a href="javascript:void(0);" style="float:left;" ng-click="showReplies()">Replies ( <span class="replies-count">{{replyCounts}}</span> )</a>
											<a href="javascript:void(0);" ng-click="gotoReplyBox()">Reply</a>
										</p>
									</div>
									{{showReplyBox}}
									<div class="card comment-form assignm" ng-show="showReplyBox">
										<form id="replyForm" class="card-section" method="post" ng-submit="markCompleted(displayTasks[0])">
											<div class="grid-block" id="reply-box">
												<div class="small-12 medium-12 grid-content">
													<label class="forum-label">
														Mark Complete
														<textarea cols="40" rows="8" name="comment" id="reply" ng-model="reply"></textarea>
													</label>
													<div id="comment-button">                                                
														<input type="submit" value="Submit Comment" class="button fa" id="add-comment" />
													</div>
												</div>
											</div>
										</form>
									</div>
									<div ng-repeat="items in allReplies" class="postContent card-section card" ng-show="repliesCards">
										<div class="posterAvatar">
											<a class="avatarContainer">
												<img alt="profile image" class="profile" src="{{items.Content.CreatedByUser.AvatarUrl}}" />
											</a>
											<p class="name" >{{items.Author.Username}}</p>
										</div>
										<div class="postMeta">
											<!--<p class="name" bind-html-compile="items[0].Subject"></p>
											<p class="userName" bind-html-compile="displayTasks[0].Title"></p>-->
											<p class="set-width" bind-html-compile="items.FilteredBody"></p>
											<p class="date"><strong>{{items.Date | date:"MM/dd/yyyy 'at' h:mma"}}</strong></p>
											<br/>
											<p class="reply-to-post">
												<a href="javascript:void(0);" ng-click="gottoChildReplyBox(items.Id, displayTasks[0].TaskId)">Comment</a>
												<a href="javascript:void(0);" ng-click="showChildcomments(items.Id, displayTasks[0].TaskId)" style="float:left">Comments ( <span class="replies-count">{{items.ReplyCount}}</span> )</a>
											</p>
										</div>
										<div class="childComments newChildReplyBox childAssignment{{items.Id}}" style="display:none;">
											<form id="replyForm" class="card-section" method="post" ng-submit="submitChildReply(items.Id, displayTasks[0].TaskId)">
												<div class="grid-block" id="reply-box">
													<div class="small-12 medium-12 grid-content">
														<label class="forum-label">
															Mark Complete
															<textarea cols="40" rows="8" name="comment" id="replyNewChild" ng-model="replyNewChild"></textarea>
														</label>
														<div id="comment-button">                                                
															<input type="submit" value="Submit Comment" class="button fa" id="add-comment" />
														</div>
													</div>
												</div>
											</form>
										</div>
										<div class="childComments assinement-card showchildCommentsreplies{{items.Id}}" ng-repeat="replies in childReplies" ng-if="replies.ParentId == items.Id" style="display:none;">
											<div class="posterAvatar">
												<a class="avatarContainer">
													<img alt="profile image" class="profile" src="{{replies.Content.CreatedByUser.AvatarUrl}}" />
												</a>
												<p class="name" >{{replies.Author.Username}}</p>
											</div>
											<div class="postMeta">
												<!--<p class="name" bind-html-compile="items[0].Subject"></p>
												<p class="userName" bind-html-compile="displayTasks[0].Title"></p>-->
												<p class="set-width" bind-html-compile="replies.FilteredBody"></p>
												<p class="date"><strong>{{replies.ActivationDate | date:"MM/dd/yyyy 'at' h:mma"}}</strong></p>
											</div>
										</div>
									</div>
								</div>
							</div>
                          <!--reply form-->
                            <!--end reply form container-->
                        </div>
                    </article>
                </div>
				<div class="grid-content" ng-if="showIframe">
					<iframe ng-src="{{iframeSource | trustAsResourceUrl}}" width="100%" height="400px"></iframe>
				</div>
                <!--article card content under slider-->
                <div class="grid-block small-up-1 medium-up-2 large-up-2">                    
                    <div class="grid-content" ng-repeat="assignment in allAssignments">
                        <article class="card card-margin">
							<div class="card-divider color-code-2">
								<h6 class="boxTitle">New Assignment |<span class="assignment-type" ng-if="assignment.moduleType == 1"> Discussion(s)</span><span class="assignment-type" ng-if="assignment.moduleType == 2"> Quiz</span><span class="assignment-type" ng-if="assignment.moduleType == 3"> Diary</span><span class="assignment-type" ng-if="assignment.moduleType == 4"> Sponsored Quiz</span></h6>
							</div>
                            <div class="card-section">
                                <!--<h6 class="boxTitle">New Assignment |<span class="assignment-type"> Quiz</span></h6>-->
                                <h3 class="quizTitle">{{assignment.moduleTitle}}</h3>
                                <p dynamic="{{assignment.options.instructions}}"></p>
                            </div>


                        </article>
                    </div>                    
                </div><!--end assignment content-->                
            </section><!--end main content-->

            <!--start right sidebar content-->
			<div class="grid-content small-12 medium-4 message-side-bar">
				<div ng-include="'polls.html'" ng-controller="pollsCtrl"></div>
            </div>
                <!--end poll result box-->
        </div>
    </div><!--end sb-site container-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')
    </script>
	<script src="js/jquery.tooltipster.min.js"></script>
    <script src="js/slidebars.js"></script>
    <script src="js/main.js"></script>
  