<link href="css/bootstrap-combined.min.css" rel="stylesheet" />
<link rel="stylesheet" href="css/signup.css" />
<div class="main-wrapper">
	<section class="wrapper">
		<div class="vertical-align-center">
			<header class="logo">
				<a href="#">
					<img id="mavy-logo" src="images/mavylogo.svg" alt="mavy logo">
				</a>
				<h1 class="hide">Mavy</h1>
				<a href="#">
					<img id="mavy-text" src="images/mavytext.svg" alt="Mavy">
				</a>
			</header>
				<!--form container-->
			<form ng-submit="signUp()" method="post" id="signInForm" class="form-container">
				<div class="center">
					<p>
						<label for="name" class="hide"></label>
						<input class="inputBox" type="text" id="name" name="name" ng-model="uname" placeholder="Username">
					</p>
					<p>
						<label for="password" class="hide"></label>
						<input class="inputBox" type="password" id="password" name="password" ng-model="password" placeholder="Password">
					</p>
					<button class="inputButton" id="facebook" type="button" name="facebook" value="signInForm" ng-click="fbLogin()">
						<span class="fa fa-facebook-square absolute"></span> 
						Use Facebook
					</button>
					<button class="inputButton" type="submit" name="signin" id="signIn">Sign In</button>
					<p class="white">
						You don't have an account?
						<a type="submit" class="white" id="signUp">
							<strong>SIGN UP</strong>
						</a>
					</p>
					<span class="badge" id="apple">
						<a href="https://play.google.com/store/apps/details?id=mavy">
						 <img alt="Download on the App Store" src="images/apple-app-badge.svg"/>
						</a>
					</span>

					<span class="badge" id="google">
						<a href="https://play.google.com/store/apps/details?id=mavy">
						 <img alt="Get it on Google Play" src="images/google-app-badge.svg" />
						</a>
					</span>
				</div>
				<!--center-->
			</form>
		</div>
		<div id="fb-root"></div><!--vertical align center-->
		<footer>
			<ul>
				<li><a href="#">Terms</a></li>
				<li><a href="#">Privacy</a></li>
				<li><a href="#">Support</a></li>
			</ul>
		</footer>
	</section>
</div>